.nav{
    background-color: rgb(58, 40, 200);
    padding-bottom: 0.5px;
    padding-left:6px ;
    padding-top: 1px;
    color: rgb(240, 251, 248);
    box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.2);
    text-align: center;
}